//== Colors
//
//##

// Variables for SCSS-Linter's "VariableForProperty"
$color-inherit: inherit;
$color-transparent: transparent;

// black, gray, white
$color-white: #fff;
$color-black: #000;

$color-gray-darker: #222;
$color-gray-dark: #444;
$color-gray: #666;
$color-gray-light: #888;
$color-gray-lighter: #aaa;

$color-white-dark: #eee;

// basic colors
$color-brand-primary: $color-gray-dark;
$color-brand-secondary: #1010ff;

// Misc colors
$color-facebook: #3b5998;
$color-youtube: #b00;
$color-instagram: #000;

// light versions
$color-brand-primary-light: lighten(mix($color-brand-primary, $color-white), 25%);
$color-brand-secondary-light: lighten(mix($color-brand-secondary, $color-white), 15%);

// hover colors
$color-brand-primary-hover: darken($color-brand-primary, 15%);
$color-brand-secondary-hover: darken($color-brand-secondary, 15%);


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Default hover color.
$color-hover: $color-brand-primary-light;

//** Background color for `<body>`.
$color-body-bg: $color-white;
//** Background color for content elements (must be set manually).
$color-content-bg: $color-body-bg;
$color-content-bg-hover: $color-hover;
//** Background color for complementary content elements (must be set manually).
$color-inverse-bg: $color-gray;
$color-inverse-bg-hover: lighten($color-inverse-bg, 5%);


//== Typography
//
//##
//** Global text color on `<body>`.
$color-text: $color-gray;
$color-link-text: $color-black;
$color-link-text-hover: lighten($color-link-text, 40%);

$color-reduced-text: lighten($color-text, 20%);
$color-reduced-link-text: darken($color-reduced-text, 7%);
$color-reduced-link-text-hover: darken($color-reduced-link-text, 5%);

$color-inverse-text: $color-white;
$color-inverse-link-text: darken($color-inverse-text, 7%);
$color-inverse-link-text-hover: darken($color-inverse-link-text, 10%);

//** Global textual link color.
//** Link hover color.

//** Headings
$color-headings-text: $color-inherit;

//** Abbreviations and acronyms border color
$color-abbr-border: lighten($color-text, 20%);
//** Horizontal line color.
$color-hr-border: $color-gray-light;


//== Shadows
//
//##

$color-shadow-default: rgba($color-black, 0.15);
$color-shadow-inverse: rgba($color-white, 0.45);


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Background color used for striped tables.
$color-table-border: $color-gray-light;
$color-table-striped-bg: $color-white-dark;
