//
// Variables
// --------------------------------------------------

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Link hover decoration.
$link-hover-decoration: none;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacer-sm: 0.6rem;
$spacer-lg: 1.3rem;
$spacer-xl: 3rem;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-sm,
    y: $spacer-sm
  ),
  2: (
    x: $spacer,
    y: $spacer
  ),
  3: (
    x: $spacer-lg,
    y: $spacer-lg
  ),
  4: (
    x: $spacer-xl,
    y: $spacer-xl
  )
);



//== Cursor
//

//** Disabled cursor for form controls and buttons.
$cursor-disabled: not-allowed;

//** Zoom cursor for image magnifier.
$cursor-zoom: zoom-in;



//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding: $spacer-sm;

//** `.table-condensed` values
$table-condensed-cell-padding: 0.15rem;



//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-infobar-fixed: 1030;


//== Type
//
//##

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 10rem;
//** Width of horizontal description list titles
$dl-horizontal-width: $component-offset-horizontal;
//** Gap between dt and dd in horizontal description lists
$dl-horizontal-gap: $spacer-sm;


//== Icons
//
//##

//** Circled icons
$icon-circled-size: 1.7em;


//== Shadows
//
//##

$shadow-blur-radius: 0.33rem;
$shadow-spread-radius: 0.15rem;


//== Rounded
//
//##

$border-radius-base: 0.25rem;

$rounded-border-radius-base: $border-radius-base;


//== Animation
//
//##

$animation-time: 0.3s;
