//== Typography
//
//## Font and line-height for body text, headings, and more.

$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16px;

$font-size-base: 1.1rem;
$font-size-sm: 0.88rem;

$line-height-base: 1.7;
$line-height-lg: (4 / 3);
$line-height-sm: 1.5;

//** Computed 'line-height' (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: #{$line-height-base}rem;


// Font weight

$font-weight-light: 100;
$font-weight-regular: 200;
$font-weight-bold: 500;


// Headings

$font-size-h1: 2.5rem;
$font-size-h2: 2.25rem;
$font-size-h3: 2rem;
$font-size-h4: 1.75rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1.25rem;

//** By default, this inherits from the `<body>`.
$headings-font-family: inherit;
$headings-font-weight: $font-weight-light;
$headings-line-height: 1.2;


// Opacity

//** Text muted opacity
$opacity-muted-text: 0.6;
//** Disabled elements opacity
$opacity-disabled: 0.5;
