// different icon sizes

.icon {
  &.pull-left {
    margin-right: 0.4em;
  }

  &.pull-right {
    margin-left: 0.4em;
  }

  &.icon-circle {
    border-radius: 50%;
    height: $icon-circled-size;
    line-height: $icon-circled-size;
    width: $icon-circled-size;
  }
}
