// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  @include img-responsive();
}

// Centered images need an position: relative; parent
.img-centered {
  bottom: 0;
  height: auto;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
