// Width and height

.w-100 {
  min-width: 100%;
}

.h-100 {
  min-height: 100%;
}

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $lengths in $spacers {
    $length-x: map-get($lengths, x);
    $length-y: map-get($lengths, y);

    .#{$abbrev}-#{$size} {
      #{$prop}: $length-y $length-x !important; // stylelint-disable-line declaration-no-important
    }

    // a = All sides
    .#{$abbrev}t-#{$size} {
      #{$prop}-top: $length-y !important; // stylelint-disable-line declaration-no-important
    }

    .#{$abbrev}r-#{$size} {
      #{$prop}-right: $length-x !important; // stylelint-disable-line declaration-no-important
    }

    .#{$abbrev}b-#{$size} {
      #{$prop}-bottom: $length-y !important; // stylelint-disable-line declaration-no-important
    }

    .#{$abbrev}l-#{$size} {
      #{$prop}-left: $length-x !important; // stylelint-disable-line declaration-no-important
    }

    // Axes
    .#{$abbrev}x-#{$size} {
      #{$prop}-right: $length-x !important; // stylelint-disable-line declaration-no-important
      #{$prop}-left: $length-x !important; // stylelint-disable-line declaration-no-important
    }

    .#{$abbrev}y-#{$size} {
      #{$prop}-top: $length-y !important; // stylelint-disable-line declaration-no-important
      #{$prop}-bottom: $length-y !important; // stylelint-disable-line declaration-no-important
    }
  }
}
