// disable rule no-descending-specificity, because file is copied from my old website and considered working
// otherwise there would be >30 errors
/* stylelint-disable no-descending-specificity */
.table {
  td,
  th {
    padding: 0.8rem;
  }
}


// Horizontal ruled table
//
// Add horizontal borders all around the table and between all the columns.

.table-ruled,
.table-ruled-horizontal {
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-top: 1px solid $color-table-border;
      }
    }
  }

  // Bottom align for column headings
  > thead > tr > th {
    border-bottom: 2px solid $color-table-border;
  }

  // Remove top border from thead and first tbody row by default
  > tbody,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
}

// Vertical ruled table
//
// Add borders all around the table and between all the columns.

.table-ruled,
.table-ruled-vertical {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-right: 1px solid $color-table-border;

        &:last-child {
          border-right: 0;
        }
      }
    }
  }
}

// Bordered table
//
// Add borders all around the table

.table-bordered {
  border: 1px solid $color-table-border;
}

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  tbody > tr:nth-of-type(2n + 1) {
    background-color: $color-table-striped-bg;
  }
}

// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.table-responsive {
  @media screen and (max-width: map-get($grid-breakpoints, sm)) {
    border: 1px solid $color-table-border;
    margin-bottom: 1rem;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: hidden;
    width: 100%;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }

          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
