//
// Typography
// --------------------------------------------------

// Headings
// -------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-headings-text;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  margin: 0;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

article {
  margin-bottom: $spacer-lg;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: #{0.5 * $line-height-base}rem;
  }

  h1,
  h2,
  h3 {
    margin-top: $line-height-computed;
  }

  h4,
  h5,
  h6 {
    margin-top: #{0.5 * $line-height-base}rem;
  }
}

// Body text
// -------------------------

body {
  font-weight: $font-weight-regular;
}

p {
  margin: 0 0 #{0.5 * $line-height-base}rem;
}

// Emphasis & misc
// -------------------------

// Alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

// Transformation
.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

// Links

a {
  color: $color-link-text;
  text-decoration: none;
  transition: color $animation-time ease;

  p & {
    font-weight: ($font-weight-regular + 200);
  }

  .no-touchevents &:hover,
  .no-touchevents &:focus {
    color: $color-link-text-hover;
    text-decoration: $link-hover-decoration;
  }
}

// And undo these styles for placeholder links/named anchors (without href)
// which have not been made explicitly keyboard-focusable (without tabindex).
// It would be more straightforward to just use a[href] in previous block, but that
// causes specificity issues in many other styles that are too complex to fix.
// See https://github.com/twbs/bootstrap/issues/19402
//
// no-anchor-style must be defined after text-emphasis to overwrite its style
a:not([href]):not([tabindex]),
a.no-anchor-style {
  color: $color-inherit;
  text-decoration: none;

  .no-touchevents &:active,
  .no-touchevents &:hover,
  .no-touchevents &:focus {
    box-shadow: none;
    color: $color-inherit;
    text-decoration: none;
  }
}

// Contextual colors
.text-muted {
  opacity: $opacity-muted-text;
}

@include text-emphasis-variant('text-default', $color-text, $color-link-text, $color-link-text-hover);
@include text-emphasis-variant(
  'text-inverse',
  $color-inverse-text,
  $color-inverse-link-text,
  $color-inverse-link-text-hover
);
@include text-emphasis-variant(
  'text-reduced',
  $color-reduced-text,
  $color-reduced-link-text,
  $color-reduced-link-text-hover
);

// Contextual backgrounds
@include bg-variant('bg-inverse', $color-inverse-bg);
@include bg-variant('bg-content', $color-content-bg);
@include bg-variant('bg-gray', $color-gray-lighter);

// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  // don't set "list-style-position". The default value "outside" is desired behavior
  padding-left: 20px;

  // nested lists
  ul,
  ol {
    padding-left: 20px;
  }
}

// List options

// [converter] extracted as `@mixin list-unstyled` for libsass compatibility
.list-unstyled {
  @include list-unstyled();
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled();

  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.list-columns-2,
.list-columns-3 {
  column-gap: 3em;

  @media (min-width: 600px) {
    column-count: 2;
  }

  > li {
    break-inside: avoid-column;
  }
}

.list-columns-3 {
  @media (min-width: map-get($grid-breakpoints, md)) {
    column-count: 3;
  }
}

// Description Lists
dl {
  margin-top: 0;
}

dt,
dd {
  line-height: $line-height-base;
  // show gap for empty content
  min-height: $line-height-computed;
  word-wrap: break-word;
}

dt {
  font-weight: $font-weight-bold;

  &::first-letter {
    text-transform: uppercase;
  }
}

dd {
  margin-left: 0; // Undo browser default
}

// Horizontal description lists
//
// Lists being stacked on very small screens

.dl-horizontal {
  dd {
    margin-left: $dl-horizontal-width + $dl-horizontal-gap;
  }

  dt {
    width: $dl-horizontal-width;
  }
}

.dl-horizontal-half {
  dd {
    margin-left: 51%;
  }

  dt {
    width: 48%;
  }
}

.dl-horizontal,
.dl-horizontal-half {
  dd {
    @include clearfix(); // Clear the floated `dt` if an empty `dd` is present
  }

  dt {
    clear: left;
    float: left;
    white-space: normal;
  }

  @media (max-width: (2 * ((strip-units($dl-horizontal-width) + strip-units($dl-horizontal-gap)) * $font-size-root + $grid-gutter-width-base))) {
    dt {
      clear: none;
      float: none;
      width: auto;
    }

    dd {
      margin-left: 10px;
    }
  }
}

// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title],
    // Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  border-bottom: 1px dotted $color-abbr-border;
  cursor: help;
}

// Blockquotes
blockquote {
  margin: 0 0 $line-height-computed;
  font-style: italic;
  font-size: 1.3em;
  display: inline;
}

// Addresses
address {
  font-style: normal;
  line-height: $line-height-base;
  margin-bottom: $line-height-computed;
}

.small,
small {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
}

// Text colors
// -------------------------

.text-fb {
  color: $color-facebook;
}

.text-yt {
  color: $color-youtube;
}

.text-insta {
  color: $color-instagram;
}
