//
// Utility classes
// --------------------------------------------------

// Floats
// -------------------------

.clearfix {
  @include clearfix();
}

// .pull-right and .pull-left in /lint_exclude

.center-block {
  @include center-block();
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

// Toggling content
// -------------------------

// .show in /lint_exclude

.invisible {
  visibility: hidden;
}

.text-hide {
  @include text-hide();
}

// .hidden in /lint_exclude

// Disabled state
[disabled] {
  cursor: $cursor-disabled;
}

// .clickable helper class
.clickable {
  cursor: pointer;
}

// Main tag
main {
  @include clearfix();

  max-width: 100%; // important for responsive tables
}

// Simple circled class
.circled {
  border-radius: 50%;
}

// Rounded classes
// -------------------------

.rounded {
  border-radius: $rounded-border-radius-base;
  overflow: hidden;
}

// Square
// -------------------------
// Square that keeps ratio given by width of Element

.square-outer {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    content: '';
    display: block;
    padding-top: 100%; // ratio of 1:1
  }

  > .square-inner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

// Vertical alignment
// -------------------------
// used for tables and media object

@include vertical-align('top');
@include vertical-align('middle');
@include vertical-align('bottom');

// Scale on hover
// -------------------------
.hover-scale {
  transform: scale(1) translate3d(0, 0, 1px);
  transition: transform $animation-time ease;

  .no-touchevents &:hover,
  .no-touchevents &:focus {
    transform: scale(1.02) translate3d(0, 0, 1px);
  }
}

.pull-right {
  float: right !important; // stylelint-disable-line declaration-no-important
}

.pull-left {
  float: left !important; // stylelint-disable-line declaration-no-important
}

.show {
  display: block !important; // stylelint-disable-line declaration-no-important
}

// Hide from screenreaders and browsers
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}
