// Visibility classes
//
// they were used in Bootstrap 4 alpha and I like them, because they work and they are easy to remember
// --------------------------------------------------

@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;  // stylelint-disable-line declaration-no-important
    }
  }

  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;  // stylelint-disable-line declaration-no-important
    }
  }
}
