@mixin shadow($shadow-color) {
  box-shadow: 0 1px $shadow-blur-radius $shadow-spread-radius $shadow-color;

  &.shadow-top {
    box-shadow: 0 (-($shadow-spread-radius + $shadow-blur-radius)) $shadow-blur-radius (-$shadow-blur-radius) $shadow-color;
  }

  &.shadow-bottom {
    box-shadow: 0 ($shadow-spread-radius + $shadow-blur-radius) $shadow-blur-radius (-$shadow-blur-radius) $shadow-color;
  }

  &.shadow-inset {
    box-shadow: inset 0 1px $shadow-blur-radius $shadow-spread-radius $shadow-color;

    &.shadow-top {
      box-shadow: inset 0 ($shadow-spread-radius + $shadow-blur-radius) $shadow-blur-radius (-$shadow-blur-radius) $shadow-color;
    }

    &.shadow-bottom {
      box-shadow: inset 0 (-($shadow-spread-radius + $shadow-blur-radius)) $shadow-blur-radius (-$shadow-blur-radius) $shadow-color;
    }
  }
}
