// Typography

// [converter] $parent hack
@mixin text-emphasis-variant($parent, $color, $color-link, $color-hover) {
  .#{$parent} {
    color: $color;

    a {
      color: $color-link;

      .no-touchevents & {
        &:hover,
        &:focus {
          color: $color-hover;
        }
      }
    }
  }

  .no-touchevents a.#{$parent} {
    &:hover,
    &:focus {
      color: $color-hover;
    }
  }
}
