// CSS image replacement
//
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757

@mixin text-hide() {
  background-color: $color-transparent;
  border: 0;
  color: $color-transparent;
  font: 0/0 a; // stylelint-disable-line font-family-no-missing-generic-family-keyword
  text-shadow: none;
}
