// Vertical align classes for tables and media object

@mixin vertical-align($value) {
  .vertical-#{$value} {
    &,
    .media & {
      vertical-align: #{$value};
    }

    @at-root {
      tr#{&} > td,
      tr#{&} > th,
      .table tr > th#{&}, // .table is necessary to overwrite ".table thead th"
      tr > td#{&} {
        vertical-align: #{$value};
      }
    }
  }
}
