// import all variables, mixins, functions
@import '../style/framework/modules/all';

.front-page-header {
  align-content: center;
  background-image: url('./../assets/images/background-frontpage.jpg');
  background-position: 50% 15%;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 350px;
  padding: 0 $spacer-lg;
  position: relative;
  text-shadow: 0 $shadow-spread-radius $shadow-blur-radius $color-gray-darker;
  width: 100%;

  > h1 {
    font-size: 6rem;
    font-weight: 300;
    width: 100%; // neccessary to force line break
    margin-top: -2rem;

    @media (max-width: map-get($grid-breakpoints, md)) {
      font-size: 13vw;
    }
  }

  > blockquote {
    font-size: 2rem;

    @media (max-width: (map-get($grid-breakpoints, sm))) {
      font-size: 5vw;
    }
  }
}

$avatar-size: 12rem;

.avatar {
  height: $avatar-size;
  width: $avatar-size;
  margin-top: -($avatar-size / 2);
  border: 2px solid $color-white;
  position: relative;
  margin-bottom: 3rem;
}

// Images of New Zealand and Canada

.main-destination-wrapper {
  position: relative;
  margin: 2rem 0;

  > img {
    width: 100%;
  }

  > .description {
    color: $color-inverse-text;
    background-color: $color-inverse-bg;
    padding: $spacer-sm $spacer-lg;
    opacity: 1;
    transition: opacity $animation-time ease;
    font-weight: $font-weight-regular;
    margin-top: -1px; // fixes rendering bug (there was a 1px white gap between img & description on small screens)

    @media (min-width: map-get($grid-breakpoints, sm)) {
      position: absolute;
      width: 100%;
      bottom: 0;
      background-color: rgba($color-inverse-bg, 0.8);
    }

    > h2 {
      font-size: 2.3rem;
      font-weight: $font-weight-regular;
    }
  }

  .no-touchevents &:hover,
  .no-touchevents &:focus {
    @media (min-width: map-get($grid-breakpoints, sm)) {
      > .description {
        opacity: 0;
      }
    }
  }
}
