// import all variables, mixins, functions
@import '../style/framework/modules/all';

$back-button-size: 2.5rem;
$back-button-bg-color: $color-gray-darker;

.back-button {
  background-color: $back-button-bg-color;
  display: inline-block;
  border-radius: ($back-button-size / 2);

  > .fas {
    display: inline-block;
    width: $back-button-size;
    height: $back-button-size;
    line-height: $back-button-size;
    text-align: center;

    // the following styles to let the text not be visible above the arrow
    //
    z-index: 1;
    // "transparent" is not enough for Safari, that's why "rgba($back-button-bg-color, 0)"
    background: linear-gradient(to right, $back-button-bg-color 75%, rgba($back-button-bg-color, 0) 100%);
    border-radius: ($back-button-size / 2);
    position: relative;
  }

  > .description {
    line-height: $back-button-size;
    display: inline-block;
    border-radius: ($back-button-size / 2);
    float: right;
    opacity: 0;
    max-width: 0;
    white-space: nowrap;
    pointer-events: none;

    // animation
    transform: translate3d(0, 0, 1px);
    will-change: opacity, max-width;
    transition: opacity $animation-time ease-out, max-width $animation-time ease-out;

    > span {
      float: right;
      display: block;
      padding-right: 1em;
      line-height: $back-button-size;
      height: $back-button-size;
    }
  }

  .no-touchevents &:hover,
  .no-touchevents &:focus {
    > .description {
      max-width: 10rem;
      opacity: 1;
    }
  }
}
