// import all variables, mixins, functions
@import 'style/framework/modules/all';

/* stylelint-disable selector-max-id */
html,
#app,
body {
  height: 100%;
}
/* stylelint-enable */

// .content is the scrollable part, that's why the footer is also inside main
.content {
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow-y: auto;
}

main {
  flex: auto;
  padding-bottom: 4rem;
}

// used in site notice page and could be used somewhere else too
.bot-obfuscation::before {
  content: 'erklotz';
}

// Responsive Videos

.responsive-video {
  position: relative;
  padding-bottom: 56.25%; // default for 16:9 ratio
  padding-top: 0;
  height: 0;
  overflow: hidden;

  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Fixed weird font awesome list style
// todo: check if still needed

.fa-li {
  line-height: $line-height-base;
  top: initial;
}
